---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/schematic_cropped.png" alt="Home" width="100%">
  </div>
</div>

<!--{% include publications.html %}-->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="border-bottom pb-3 mb-5">news</h3>
    {% for post in site.posts %}
      <h5><a href="{{ site.github.url }}/news#{{ post.anchor }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</h5>
    {% endfor %}
  </div>
</div>
