---
layout: default
---


<h3 class="fw-bold border-bottom pb-3 mb-5">research: improving quantum evolution with temporal control and measurement</h3>
<div class="row g-5 mb-5">
  <div class="col-md-3">
    <img src="{{ site.github.url }}/assets/img/schematic_labeled.png" alt="Home" width="100%">
  </div>
  <div class="col-md-9">
    <p>
    Our lab is currently building its first experiment, which will comprise a locally interacting cesium Rydberg atom array 
    interacting with photonic modes of a free-space Fabry-Perot optical cavity. This system will provide access to both local 
    entanglement (from Rydberg interactions) as well as global entanglement, allowing us to study their interplay. 
    Motivated by recent theoretical and experimental advancements in understanding the impact of quantum measurement, 
    we are also interested in monitored systems and the impact of nonunitary dynamics of quantum evolution. To this end, 
    the experimental platform we are building should afford access to weak global measurement from the cavity, as well as 
    projective local measurement from a combination of tweezer light, the optical cavity, and fluorescence measurement.
    </p>
  </div>
</div>

{{ content }}


<!--<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>-->
